---
import "../styles/generel.css"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
<h1>About Us</h1>
<section>
<div><h2>What is Karrusel</h2>
    <p>Karrusel is 3 days of house, disco, and techno in the magical forest. Karrusel takes place at a secluded green spot on Refshaleøen in central Copenhagen. It is an 18+ event, that takes place in rain or shine. Artists subject to change. As the sun sets over the Copenhagen skyline, the festival reaches its crescendo, with electrifying performances igniting the night and  creating unforgettable memories for all who partake. With its vibrant energy and circus spirit, Karrusel Festival continues to captivate the  hearts and minds of Copenhageners and visitors alike, leaving an indelible mark on the cultural landscape of the city.</p></div>
<div><img src="/img/silke-danser.webp" alt="silkedanser"></div>
</section>
<section><div><h2>2024</h2> <h3>Karrusel, 22—24 August 2024, Copenhagen, Refshaleøen</h3> <p>2024 marks the 5th edition of Karrusel. Past editions include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour, Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou, Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz, VTSS and more. This years lineup will be revealed at a later date.

</p><a href="https://www.ticketmaster.dk/event/542817">Click to see early Bird Festival Passes - on sale now until 1 April</a></div></section>
<section><h2>Festival Experience</h2><p>Karrusel believes in the right to a harassment-free festival experience. We believe in the right of everyone to express themselves. Karrusel welcomes everybody – all with their different orientations, experiences, histories and backgrounds. Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community.

    If you feel unsafe, please reach out to our awareness team. They will be wearing a pink vests and walk around the site and be at their base <a href="/map">(see on this map)</a>. Ask any festival staff and they will guide you to the them.
    </p><p>Take responsibility for your own actions. Respect your own and others boundaries. Speak up rather than look the other way</p></section>
    <section><img src="/img/dj-dans.webp" alt="DJ picture"></section>
</MainLayout>