<menu class="menuparent">
    <li><a href="/program"><img src="/svg/program.svg" alt=""></a></li>
    <li><a href="/map"><img src="/svg/map.svg" alt=""></a></li>
    <li><a href="/aboutus"><img src="/svg/aboutus.svg" alt=""></a></li>
    <li><a href="/gallery"><img src="/svg/galleri.svg" alt=""></a></li>
</menu>
<div class="hamburger">
    <span class="burgerbar"></span>
    <span class="burgerbar"></span>
    <span class="burgerbar"></span>
</div>

<style>
.hamburger.active .burgerbar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .burgerbar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .burgerbar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burgerbar {
  display: block;
  width: 30px;
  height: 3.5px;
  margin-bottom: 5px;
  background-color: #B5FF53;
  border-radius: 3px;
  position: relative;
  z-index: 20;
}

.hamburger {
    display: block;
    /* position: absolute;
    top: 5%;
    left: 87%; */
  }

  .menuparent.active {
    right: 0;
    top: 13%;
    margin-bottom: 20%;
    opacity: 100%;
    height: 100%;
    width: 100%;
    z-index: 20;
    gap: 30px;
    /* padding-top: 180px; */
  }

  .menuparent {
    opacity: 0;
    right: 0;
    position: absolute;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
    padding-top: 50px;
    height: 0;
    width: 0;
    list-style: none;
    background-color: #1b1e28;
    justify-content: center;
    align-items: center;

    top: 14%;
  }
.menuparent li img{
    /* width: 41px; */
  }

menu {
  text-decoration: none;
  list-style: none;
  padding-right: 4%;
}

@media (max-width: 800px) {
  h1 {
    max-width: min-content;
  }
}

</style>

<script>
const hamburger = document.querySelector(".hamburger");
const menu = document.querySelector(".menuparent");

hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  menu.classList.toggle("active");
});
</script>