---
---
<!-- idam -->
<div id="some-footer">
    <div>
    <h3>Facebook events</h3>
    <h3>Resident Advisor event</h3></div>
    
    <div id="footer-some-logo"><img class="so-me-logo" src="../public/footer-insta.svg" alt="instagram-logo">
    <img class="so-me-logo" src="../public/footer-facebook.svg" alt="facebook-logo"></div>

</div>

<style>
    .so-me-logo{
        height: 60px;
        width: auto;
    }
    #footer-some-logo{
        display: flex;
        flex-direction: row
    }
    @media (max-width: 1000px) {
       #some-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }

</style>